<h2> <%= @show_hero2.name %> </h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Base: </b>"  <%= @show_hero2.base.team %> "</li>
        <li class="list-group-item"><b>Description: </b>"  <%= @show_hero2.description %> "</li>
        <li class="list-group-item"><b>Popularity: </b><%= @show_hero2.popularity %></li>
        <li class="list-group-item"><b><%= link_to 'Attack Type', '/attack/index' %> </b>"  <%= @show_hero2.attack.attack_type %> "</li>
        <li class="list-group-item"><b><%= link_to  'Primary Attribute:' ,'/stat/index' %> </b>"  <%= @show_hero2.stat.att %> "</li>
        <li class="list-group-item"><b>Skill: </b>" Play <%= @show_hero2.skill.name %> "</li>
    </ul>