<!DOCTYPE html>
<html>
  <head>
    <title>Dota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1><%= link_to 'Welcome to Defense of the Characters', root_path %></h1>
    </header>
    <%= yield %>
         <h1><%= link_to 'Back to Menu', root_path %></h1>
    <footer>
    <p>No Copyrights
    </footer>
  </body>
 
</html>
